.header {
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  &__container {
    @include container;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex: 1 1 15.3%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  //  Впорядкувати між == &__menu ==  та ==.menu ==
  &__menu {
    height: 100%;
    flex: 1 1 83.6%;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 11px;
  line-height: 84.6%;
  letter-spacing: 0.06em;

  &__burger {
    display: none;
    span {
    }
  }

  &__body {
    height: 100%;
    width: 338px;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // column-gap: 14.2%;
  }

  //  &__item {
  //  }

  //  &__link {
  //  }

  &__last-block {
    width: 283px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  //  &__language {
  //  }
  //Винести в окремий модуль  &__button
  &__button {
    @include button;
  }
}

@media (max-width: 1024px) {
  :root {
    --pdng-conteiner: 55px;
  }
  .menu {
    &__burger {
      width: 87px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__burger-icon {
      width: 28px;
      display: block;
      position: relative;
      height: 14px;
      z-index: 4;

      &:before,
      &:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2.5px;
        left: 0;
        transition: all 0.3s ease 0s;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      &._active:before {
        transform: rotate(45deg);
        top: 9px;
      }
      &._active::after {
        transform: rotate(-45deg);
        bottom: 8px;
      }
    }
    &__body {
      display: none;
    }
  }
}
@media (max-width: 764px) {
  :root {
    --pdng-conteiner: 48px;
  }
  .menu {
    &__burger {
      width: 84px;
    }
  }
}
@media (max-width: 600px) {
  :root {
    --pdng-conteiner: 24px;
  }
  .menu {
    width: 99px;
    flex: 0 0 auto;
    &__burger {
      order: 2;
      width: 28px;
    }
    &__heading {
      display: none;
    }
    &__last-block {
      order: 1;
    }
    &__button {
      display: none;
    }
  }
}
