@mixin container {
  max-width: 1314px;
  padding: 0 5%; // ????????
  margin: 0 auto;
  box-sizing: content-box;
}
@mixin button(
  $background: none,
  $border-width: 1px,
  $border-color: rgba(253, 253, 253, 0.32),
  $color: inherit
) {
  width: auto;
  padding: 17px 48px;
  border: $border-width solid $border-color;
  background: $background;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  color: $color;
}
