@import "nullstyle";
// Підключення шрифтів
//&display=swap - додати при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular);
@import "fonts/fonts";
@import "fonts/icons";

//Те що часто використовується
@import "often";

// Variable
@import "variable";

@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/scrollbar/scrollbar.scss";

body {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background: #e5e5e5;

  ._lock {
    overflow: hidden;
  }
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  //  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

@import "header";

main {
  flex: 1 1 auto;
}

.first-section {
  position: relative;
  width: 100%;
  height: 744px;
  &__swiper {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__swiper-wrapper {
    height: 100%;
  }

  &__swiper-slide {
    width: 85%;
    height: 100%;
  }

  &__img-example {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.scrollbar-navigation {
  width: 250px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 5;
  top: 61.83%;
  right: 171px;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.18%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.scrollbar-navigation .swiper-button-prev {
  position: static;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.18%;
  letter-spacing: 0.06em;
  color: #ffffff;
  &::after {
    position: relative;
    left: -31px;
    font-size: 9px;
  }
}
.scrollbar-navigation .swiper-button-next {
  position: static;
  //  position: absolute;
  //  z-index: 5;
  //  top: 61.83%;
  //  left: 85.53%;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.18%;
  letter-spacing: 0.06em;
  color: #ffffff;
  &::after {
    position: relative;
    left: 10px;
    font-size: 9px;
  }
}
//.swiper-scrollbar {
//  position: absolute;

//  width: 186px;
//  height: 1px;
//  top: 61.83%;
//  left: 72%;
//}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: static;
  //  z-index: 5;
  //  top: 61.83%;
  //  left: 72%;
  width: 186px;
  height: 1px;
  background: rgba(255, 255, 255, 0.32);
}
.swiper-scrollbar-drag {
  //  z-index: 5;
  background: rgba(255, 255, 255);
}

.first-section {
  &__slogan {
    position: absolute;
    width: 569px;
    height: 122px;
    left: 18.26%;
    top: 279px;
    z-index: 11;
    font-size: 56px;
    line-height: 121.43%;
  }

  &__discover-more {
    @include discover-more;

    position: absolute;
    top: 453px;
    left: 18.26%;
  }

  &__data-box {
    width: 634px;
    position: absolute;
    z-index: 11;
    left: var(--pdng-conteiner, 63px);
    bottom: 40px;
    display: flex;
    font-weight: 600;
    font-size: 11px;
    line-height: 118.18%;
    letter-spacing: 0.06em;

    .language-box {
      @include box-language;
    }
    // flex: 1 1 37.37%;
  }

  &__location {
    margin-left: 121px;
    width: 117px;
    height: 24px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2),
      inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(2px);
    border-radius: 8.70783px;
    display: flex;
    align-items: center;
  }

  &__flag {
    margin-left: 12px;
    font-size: 10px;
  }

  &__city-list {
    width: 77px;
    margin-left: 6px;
    background: none;
    border: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 11.18%;
    letter-spacing: 0.06em;
    color: inherit;
  }

  &__city-name {
    color: black;
  }

  &__contacts {
    width: 346px;
    margin-left: 72px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
  }

  &__phone {
  }

  &__phone-link {
  }

  &__email {
    margin-left: 40px;
  }

  &__email-link {
  }

  &__column {
    z-index: 11;
    position: absolute;
    right: 3.96%;
    bottom: 6%;
    transform: rotate(-90deg) translate(102px, 102px);
  }

  &__next {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06em;
  }

  &__next-link {
  }

  &__vertical-slogan {
    width: 318px;
    height: 93px;
    font-size: 3.33vw;
    line-height: 3.26vw;
    letter-spacing: 0.04em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}
@media (max-width: 1024px) {
  .first-section {
    height: 710px;
    &__slogan {
      font-size: 48px;
    }
    &__location {
      margin-left: 79px;
    }
  }
}
